.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.giphy-container {
  height: auto;
  width: 95%;
  background-color: rgb(62, 62, 62);
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 33.3333333%;
  padding-top: 30px;
  justify-content: center;
}

.display-message {
  color: rgb(210, 210, 210);
  margin: auto;
}
