.search-form {
  display: flex;
  width: 95%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: rgb(84, 84, 84);
  padding: 10px 0 10px 0;
}
.input {
  width: 40%;
  height: 30px;
  font-size: 20px;
}
.search-button {
  height: 36px;
  width: 100px;
  font-size: 20px;
}
